body {
  background-color: #FB6B6B;
}

*{
  box-sizing: border-box;
}

.page {
  max-width: 614px;
  height: 100vh;
  align-items: center;
}

.landingPage {
  font-family: Righteous, cursive;
  color: white;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingPage img {
  width: 136px;
}

.landingPage button {
  width: 246px;
  height: 54px;

  font-family: Recursive;
  font-weight: 400;
  font-size: 18px;
  color: #D70900;

  border: 1px solid #D70900;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.goal-input {
  width: 246px;
  height: 45px;
  
  font-family: Recursive;
  font-weight: 400;
  font-size: 14px;
  color: #D70900;

  margin: 10px;
  border-radius: 4px;
  border: 0;
  padding: 10px;
}

.goal-input:placeholder {
  color: #ADADAD;
}

.deck-select {
  width: 246px;
  height: 45px;
  
  font-family: Recursive;
  font-weight: 400;
  font-size: 14px;
  color: #525252;

  border-radius: 4px;
  border: 0;
  padding: 10px;
  background-color: white;
}

.header {
  font-family: Righteous, cursive;
  color: white;
  font-weight: 400;

  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.header img {
  width: 52px;
  height: 60px;
  margin-right: 20px;
}

.questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.statusbar {
  width: 100vw;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: white;
  color: #333333;
  font-family: Recursive;
  font-size: 18px;
  font-weight: 400;
}

.flash-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;

  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  font-family: Recursive;
  font-size: 16px;
  font-weight: 700;
  transition: all 1s linear;
}

.showQuestion {
  min-height: 120px;
  position: relative;
  background-color: #FFFFD4;

  color: #333333;
  font-weight: 400;

  align-items: initial;
  transition: all 1s linear;

}

.showQuestion img{
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.turned {
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  width: 85px;
  height: 37px;

  border-radius: 3px;
  border: 0;
  color: white;
  font-family: Recursive;
  font-size: 12px;
}

.buttons :nth-child(1) {
  background-color: #FF3030;
}

.buttons :nth-child(2) {
  background-color: #FF922E;
}
.buttons :nth-child(3) {
  background-color: #2FBE34;
}

.color1 {
  color: #FF3030;
  text-decoration: line-through;
}
.color2 {
  color: #FF922E;
  text-decoration: line-through;
}
.color3 {
  color: #2FBE34;
  text-decoration: line-through;
}

.flash-card ion-icon {
  font-size: 30px;
}

.statusbar p {
  margin: 0;
}

.statusbar ion-icon {
  font-size: 30px;
}
.result-message {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-message :first-child{
  font-family: Recursive;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;

  display: flex;
  align-items: center;
}
.result-message p{
  text-align: center;
  padding-bottom: 15px;
}

.restart-button {
  width: 167px;
  height: 32px;
  margin: 15px;

  background-color: #FB6B6B;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  
  font-family: Recursive;
  font-size: 14px;
  color: white;
}

.landingPage .disable-button {
  background-color: #E8E8E8;
  color: #C0C0C0;
  box-shadow: 0 0 0 0;
}

.cursor-pointer {
  cursor: pointer;
}